
body{
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: rgb(119, 13, 13);
    color: rgb(255, 255, 255);
}

/* This helps centering the images in the code */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }